language: c++
sudo: false

addons:
  apt:
    packages:
      - valgrind
      - g++-6
    sources: &sources
      - ubuntu-toolchain-r-test
      
matrix:
  include:
    # GCC 6
    - os: linux
      env: COMPILER=g++-6
      compiler: gcc
      
install:
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}

  - if [[ "${COMPILER}" != "" ]]; then export CXX=${COMPILER}; fi
  
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="https://cmake.org/files/v3.10/cmake-3.10.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    else
      brew upgrade cmake || brew install cmake
    fi
  - cmake --version
  
script:
  - mkdir build && cd build && cmake -DBUILD_TESTS=ON -DSVBB_BUILD_EXAMPLES=ON -DCMAKE_BUILD_TYPE=Release ..
  - cmake --build . --target ALL_BUILD
  - ctest --output-on-failure .